@model List<Model.EF.PRODUCTSTYPE>    
    @{
        Layout = null;
    }
@foreach (var item in Model)
{
    <ul>
        <li><a href="#">@item.ProductTypeName</a></li>
        @*<li><a href="#">basics</a></li>
        <li><a href="#">jackets</a></li>
        <li><a href="#">jeans</a></li>
        <li><a href="#">knits</a></li>
        <li><a href="#">overalls</a></li>
        <li><a href="#">over coats</a></li>
        <li><a href="#">shoes</a></li>
        <li><a href="#">sweatshirts</a></li>
        <li><a href="#">trousers</a></li>
        <li><a href="#"><del>tops</del></a></li>
        <li><a href="#">watersuits</a></li>*@
    </ul>
}

